<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${articleResponse.title}">Заголовок статьи</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    body {
        padding-bottom: 100px;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/news/articles}">NewsPortal</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Переключить навигацию">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Категории -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="@{/news/articles}">Популярные</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/news/articles/by/Sport}">Спорт</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/news/articles/by/War}">Война</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/news/articles/by/Global}">Мировые</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/news/articles/by/Politic}">Политика</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/news/articles/by/Culture}">Культура</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/news/articles/by/Other}">Другие</a></li>
            </ul>

            <!-- Действия администратора -->
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/news/articles/create}">Создать новость</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/news/users}">Пользователи</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/news/articles/verifications}">Проверка</a></li>
                <li class="nav-item"><a class="nav-link text-warning" th:href="@{/news/login}">Сменить пользователя</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="text-center mb-4" th:if="${articleResponse.imagePath != null}">
                <img th:src="@{${articleResponse.imagePath}}" class="img-fluid rounded" style="max-height: 500px;" alt="Изображение статьи">
            </div>
            <h1 class="mt-5" th:text="${articleResponse.title}">Заголовок статьи</h1>
            <p class="text-muted" th:text="${articleResponse.dateOfCreate}">Дата создания статьи</p>
            <div class="mt-4" th:utext="${articleResponse.content}">Содержание статьи</div>
            <p class="mt-4 font-italic">
                Автор:
                <span th:text="${articleResponse.userResponse.firstname}">Имя</span>
                <span th:text="${articleResponse.userResponse.lastname}">Фамилия</span>
            </p>

            <sec:authorize access="hasAnyRole('ADMIN', 'EDITOR')">
                <a th:href="@{'/news/articles/edit/' + ${articleResponse.articleId}}"
                   class="btn btn-primary text-white mt-3">Редактировать статью</a>
            </sec:authorize>



            <div class="mt-3 d-flex gap-2">
                <form th:action="@{'/news/articles/' + ${articleResponse.articleId} + '/like'}" method="post">
                    <button type="submit" class="btn btn-outline-success">
                        👍 <span th:text="${articleResponse.EvaluationResponse.likes}">0</span>
                    </button>
                </form>
                <form th:action="@{'/news/articles/' + ${articleResponse.articleId} + '/dislike'}" method="post">
                    <button type="submit" class="btn btn-outline-danger">
                        👎 <span th:text="${articleResponse.EvaluationResponse.dislikes}">0</span>
                    </button>
                </form>
            </div>

            <div class="mt-4">
                <h3>Оставить комментарий:</h3>
                <form th:action="@{/news/articles/{articleId}(articleId=${articleResponse.articleId})}" method="post"
                      th:object="${commentRequest}">
                    <div class="form-group">
                        <label for="commentText">Текст комментария</label>
                        <textarea id="commentText" class="form-control" th:field="*{text}"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>

            <div class="mt-4">
                <h3>Комментарии:</h3>
                <div th:each="comment : ${articleResponse.commentResponses}">
                    <div class="comment">
                        <p th:text="${comment.text}">Текст комментария</p>
                        <p class="text-muted small">
                            <span th:text="${comment.userResponse.firstname}">Имя</span>
                            <span th:text="${comment.userResponse.lastname}">Фамилия</span> -
                            <span th:text="${comment.date}">Дата создания</span>
                        </p>

                        <sec:authorize access="hasAnyRole('ADMIN', 'EDITOR')">

                            <form th:action="@{'/news/articles/' + ${articleResponse.articleId} + '/delete/' + ${comment.commentId}}"
                                  method="post" class="d-inline">
                                <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                            </form>
                        </sec:authorize>

                        <div class="d-flex gap-2 mt-2">
                            <form th:action="@{'/news/articles/' + ${articleResponse.articleId} + '/' + ${comment.commentId} + '/likeComment'}"
                                  method="post">
                                <button type="submit" class="btn btn-outline-success btn-sm">
                                    👍 <span th:text="${comment.evaluationResponse.likes}">0</span>
                                </button>
                            </form>
                            <form th:action="@{'/news/articles/' + ${articleResponse.articleId} + '/' + ${comment.commentId} + '/dislikeComment'}"
                                  method="post">
                                <button type="submit" class="btn btn-outline-danger btn-sm">
                                    👎 <span th:text="${comment.evaluationResponse.dislikes}">0</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>